@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #363031;
    padding: 0px;
    margin: 0px;
    height: 100vh;
  }
  main {
    margin-top: 70px;
    padding-top: 20px;
  }

  @media (min-width: 1280px) {
    main {
      padding-top: 40px;
    }
  }
}
